include README.md
include LICENSE.txt
include requirements.*.txt
include requirements.txt
include trainer/VERSION
recursive-include trainer *.json
recursive-include trainer *.html
recursive-include trainer *.png
recursive-include trainer *.md
recursive-include trainer *.py
recursive-include trainer *.pyx
recursive-include images *.png
